{% extends 'base.html'%}
{% block title %}
<title>Inventory</title>
{% endblock %}

{% block contenido %}
<div class="container mt-4" >
    <div class="row">
        <div class="col-12 text-center mb-1">
            <div class="h4">INVENTARIO</div>
        </div>
        <div class="col-12 mb-3">
            <table class="table">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><a class="px-1" href="">D</a><a class="px-1" href="">E</a></td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock %}
