{% extends 'base.html'%}
{% block title %}
<title>Inventory</title>
{% endblock %}

{% block contenido %}
<div class="container mt-4" >
    <div class="row">
        <div class="col-12 text-center mb-3">
            <div class="h4">
                INVENTARIO
                <div class="float-end">
                    <a href="{{ url_for('CreatePorduct') }}" class="btn btn-primary" style="text-decoration: none;">
                        Agregar producto
                        <img src="{{ url_for('static', filename='images/update-inventory.png') }}" alt="Update_inventory" height="20px">
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-12 mb-3">
            <table id="table_product" class="table display dataTable">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th scope="col">codigo</th>
                        <th scope="col">nombre</th>
                        <th scope="col">existencia</th>
                        <th scope="col">categoria</th>
                        <th scope="col">precio</th>
                    </tr>
                </thead>
                
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="uft8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js" defer></script>
    <script src="{{ url_for('static', filename='js/table_inventory.js') }}" defer></script>
{% endblock %}
