{% extends 'base.html' %}

{% block contenido %}
<div class="container-fluid ">
    <div class="m-2">
        <div class="row">
            <div class="col col-2">
                <div class="row">
                    <div class="col">
                        <div class="input-group p-1">
                          <div class="input-group-text" style="width: 55%;">ID venta</div>
                          <input type="text" value="{{id_venta}}" class="form-control" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="row">
                    <div class="col">
                        <div class="input-group p-1">
                            <div class="input-group-text" style="width: 50%;">Fecha Registro</div>
                            <input type="text" class="form-control" id="fecha" disabled>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col col-2">
                <div class="row">
                    <div class="col">
                        <div class="input-group p-1">
                            <div class="input-group-text" style="width: 30%;">Asesor</div>
                            <input type="text" class="form-control" value="{{session['user']}}" disabled>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-3">
                <div class="row">
                    <div class="col">
                        <form id="form_search" method="post">
                        <div class="input-group p-1">
                            <div class="input-group-text" style="width: 20%;">Código</div>
                                <input type="search" class="form-control" id="search" name="search"/>
                                <input type="submit" class="btn btn-outline-dark" id="query" name="query" value="Buscar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-12">
                <table id='empTable' class='table display dataTable bg-dark text-light' width='100%'>
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Existencia</th>
                            <th>P Unitario</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <p class="card-text mt-3 text-center">
                            {% with messages = get_flashed_messages(category_filter=["error"]) %}
                            {% if messages %}
                            <ul class="alert alert-danger">
                                {% for message in messages %}
                                <li style="padding-left: 10px; list-style: none;"><small>{{message}}</small></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}
                        </p>
                        <form id="formFactura">
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cliente Factura</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col">
                                                <label for="">Identificación</label>
                                                <input type="hidden" id="id_us" name="id_us" class="form-control" required>
                                                <input type="text" id="id_user" name="id_user" class="form-control" required>
                                            </div>
                                            <div class="col">
                                                <label for="">Nombres</label>
                                                <input type="text" id="nombre_user" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label for="">Celular</label>
                                                <input type="text" id="cel_user" class="form-control" required>
                                            </div>
                                            <div class="col">
                                                <label for="">Correo</label>
                                                <input type="text" id="email_user" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <input class="btn btn-outline-secondary" style="width: 150px;border-spacing: 150px;" type="button" value="Close" data-bs-dismiss="modal"> 
                                    <input class="btn btn-outline-primary" style="width: 150px;border-spacing: 150px;" type="submit" id="facturar" value="Facturar"> 
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="m-1" style="display: flex; justify-content: flex-end;">
                                <input class="btn btn-outline-primary" style="width: 150px;border-spacing: 150px;" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" value="Facturar"> 
                                
                                <a class="btn btn-outline-danger" style="width: 150px;border-spacing: 150px;" href="{{url_for('delete_cookie')}}" id="borrar">Borrar</a>
                            </div>
                            
                        {% if datos %}
                            {% for dato in datos %}
                            <tr>
                                <td><input class="form_input" style="font-weight: bold;" readonly type="text" value="{{dato['id_producto']}}" id="id"  name="id"></td>
                                <td><input class="form_input" readonly type="text" value="{{dato['codigo_producto']}}" id="codigo" name ="codigo"></td>
                                <td><input class="form_input" readonly type="text" value="{{dato['nombre']}}" id="nombre" name="nombre"></td>
                                <td><input class="form_input" readonly type="text" value="{{dato['existencia']}}" id="existencia" name ="existencia"></td>
                                <td><input class="form_input" readonly type="text" value="{{dato['precio_venta']}}" id="valor" name="valor"></td>
                                <td><input class="form_input" readonly type="number" min="1" placeholder="1" value="{{dato['zcantidad']}}" id="cantidad" name="cantidad"></td>
                                <td><input class="form_input" readonly type="text" name="subtotal" id="subtotal"></td>
                                <td>
                                    <a class="button" href="{{url_for('deleteProductBuy',id=dato['id_producto'])}}"><i class='fa fa-trash' style='font-size:24px'></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        <tr>
                            <td colspan="5"></td>
                            <td class="bg-dark"><span class="text-light"><strong>TOTAL</strong></span></td>
                            <td><input style="border: 0; font-weight: bold;" type="text" class="form_input py-1" name="total" id="total" readonly></td>
                            <td></td>
                        </tr>
                        </form>
                    </tbody>
                    
                </table>
            
            </div>
       </div>
    </div>
</div>
{% endblock %}
{% block scripts %}

<script src="{{ url_for('static', filename='js/operaciones.js') }}"></script>
<script src="{{ url_for('static', filename='js/fechaActual.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>

{% endblock %}
